<div class="wizard-actions">
    <button type="button" class="btn btn-gov btn-drzavno-outline" id="prevBtn" onclick="changeStep(-1)" style="display:none;">
        Nazad
    </button>

    <button type="button" class="btn btn-gov btn-drzavno-outline" id="nextBtn" onclick="changeStep(1)">
        Sledeći
    </button>


</div>